experiments/trained_models/
experiments/.pytest_cache
experiments/__pycache__/
experiments/models/__pycache__/
experiments/data/*
!experiments/data/c-labels.txt
!experiments/data/c-bar-labels-IN.txt
!experiments/data/c-bar-labels-cifar.txt
!experiments/data/README.md
experiments/configs/__pycache__/
.idea/
organizational/
experiments/adaIN/style_feats_adain_1000.npy
.venv/
/experiments/adaIN/__pycache__/
