torch
torchvision
torchaudio
torchmetrics
numpy
pandas
matplotlib
tqdm
scikit-learn
scikit-image
joblib
cleverhans
pillow
autoattack @ git+https://github.com/fra31/auto-attack
adversarial-robustness-toolbox